 <!-- Top Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="img/logo.png" alt="..." height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"> <i class="fa-solid fa-house" style="color: #aaaaaa;"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"> <i class="fa-solid fa-user" style="color: #aaaaaa;"></i> About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/project"> <i class="fa-solid fa-diagram-project" style="color: #aaaaaa;"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/service"> <i class="fa-solid fa-bars" style="color: #aaaaaa;"></i> Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-address-book" style="color: #aaaaaa;"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>